body {
	background-color: #1CA0F1;
}

.tweet_block{
	margin-right: 25px;
}

.profile {
	height: 120px;
	width: 380px;
	background-color: white;
	border-style: none;
	border-radius: 20px;
	margin-top: 50px;
}

.profile_pic {
	max-width: 60px;
	border-radius: 50%;
	display: inline;
	padding: 5px;
	margin: 10px;
	position: absolute;
}

.tweet_icon {
	position: absolute;
	color: #1CA0F1;
	font-size: 25px;
	display: inline;
	float:left;
	clear: both;
	margin-top:10px;
	margin-left: 335px;
}

.tweet_btn:hover{
	color:#1CA0F1;
}

.add_tweet {
	margin-left:75px;
	margin-top: 35px;
}

.likes {
	display: inline;
	float: left;
	position: relative;
	margin-top: 180px;
	margin-right: 10px;
}

.likes_number{
	margin-left: 55px;
}

/*Segunda Columna

*/

.texto {
	padding-top: 100px;
}

.tweets {
	height: 250px;
	width: 380px;
	background-color: white;
	border-style: none;
	border-radius: 20px;
	margin-top: 50px;
}

.remove_tweet {
	color: #666C70;
	font-size: 15px;
	display: inline;
	float:left;
	clear: both;
	margin-left: 345px;
	margin-top:15px;
} 

.like_heart {
	font-size: 25px;
	display: inline;
	color:grey;
	position: absolute;
	margin-top: 210px;
	margin-left: 20px;
}

.like_heart--liked {
	font-size: 25px;
	color: red;
	display: inline;
	position: absolute;
	margin-top: 210px;
	margin-left: 20px;
}

.like_heart:hover {
	color:red;
}

.tweet_btn:hover{
	color:#1CA0F1;
}

.add_tweet {
	margin-left:80px;
}

.likes {
	display: inline;
	float: left;
}